.header__link_color-light {
  color: var(--link-color);
  opacity: 0.6;
}
.header__link_color-light:hover {
  opacity: 1;
  transition: 0.15s;
  border-bottom: 3px solid var(--link-color);
}

@media  (max-width: 767px) {
  .header__link_color-light {
    color: var(--link-color);
    opacity: 0.6;
  }
  .header__link_color-light:hover {
    opacity: 1;
    transition: 0.15s;
    border-bottom: none;
  }
}