.not-found__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 30px auto 16px;
  max-width: 356px;
  text-align: center;
}