.footer__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
@media  (max-width: 720px) {
  .footer__content {
    padding-top: 20px;
    justify-content: space-around;
    flex-direction: column-reverse;
  }
}