.header__list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
.header__list li{
  height: 100%;
  list-style: none;
}
@media  (max-width: 767px) {
  .header__list{
    box-sizing: border-box;
    width: calc(100% - 80px);
    align-items: baseline;
    flex-direction: column;
    height: auto;
    margin: 72px auto 22px;
    transition-duration: .2s;

  }
}
@media  (max-width: 600px) {
  .header__list{
    width: calc(100% - 40px);
  }
}
