.footer__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media  (max-width: 720px) {
  .footer__nav {
    padding-bottom: 20px;
  }
}

@media  (max-width: 370px) {
  .footer__nav {
    justify-content: space-around;
    padding-bottom: 40px;
    align-items: flex-start;
  }
}